<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My K-ICS</title>
    
    <!-- 메타 태그 설정, 저자, 키워드, 설명 -->
    <meta name="author" content="geony"/>
    <meta name="keywords" content="신지급여력제도, K-ICS, 자본건전성"/>
    <meta name="description" content="My K-ICS"/>

    <!-- 파비콘 -->
    <link rel="icon" href="/fabicon.ico">

    <!-- 아이폰 파비콘 -->
    <link rel="apple-touch-icon" href="/fabicon.ico">

    <!-- css -->
    <link rel="stylesheet" href="/matrix.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/footer.css" />

</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="title">
                    <a>My K-ICS</a>
                </div>
                <!-- title -->
                <div class="upload-container">
                    <div>
                        <form action="/getData" method="get">
                            <input type="submit" value="조회" id="get">
                        </form>
                    </div>
                    <div>
                        <form action="/" method="post">
                            <input type="submit" value="업로드" id="upload">
                        </form>  
                    </div>
                    <div>
                        <form action="/doQuery" method="post">
                            <input type="submit" value="쿼리" id="sql">
                        </form> 
                    </div>
                    <!-- <form action="/import-excel" enctype="multipart/form-data" method="post">
                        <div class = "chooseFile"><input type="file" name="import-excel" id="file" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' ></div>
                        <div class = "uploadExcel"><input type="submit" value="업로드" id="upload"></div>
                    </form> 
                </div>
            </div>
            <-- header-container -->
        </div>
    </header>

    <main>
        <table>
            <thead>
            <tr>
                <th>항목</th>
                <th>기준년월</th>
                <th>비교년월</th>
                <th>증감</th>
        
            </tr>
            </thead>
            <tbody>
            <% for (let i in content ) { %>
            <tr>
                <% let obj=content[i]; %>
                <td>K-ICS 비율</td>
                <td><%= obj.PREM_SUM %></td>
                <td><%= obj.LT_RM %></td>
                <td><%= obj.PREM_SUM - obj.LT_RM %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        
    </main>

    <footer>
        <div class="inner">
            <div class="footer-container">
                <div class="author-email">email: purscean@gmail.com</div>
            </div>
        </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js" integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="./js/common.js"></script>
    <script src="./js/index.js"></script> -->

</body>
</html>

<!-- <form action="/import-excel" enctype="multipart/form-data" method="post">
    <input
        type="file"
        name="import-excel"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    />
    <button type="submit" class="btn btn-dark" value="Store File"></button>
</form> -->