<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My K-ICS divide</title>

    <link rel="stylesheet" href="/matrix.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/footer.css" />

      <!-- 파비콘 -->
      <link rel="icon" href="fabicon.ico">
  
      <!-- 아이폰 파비콘 -->
      <link rel="apple-touch-icon" href="./fabicon.ico">
</head>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Random Title</title>

   <!-- CSS link (loading Semantic UI from a CDN) -->
   <!-- <link rel="stylesheet" href="/views/matrix.css" />
   <style>
     body { padding:50px; }
   </style>
</head>
<body class="container">

<header>
   <div class="ui inverted menu">
       <a class="item" href="/">
         Home
       </a>
       <a class="item" href="/magic">
         Magic
       </a>
   </div>
</header> -->


    

